---
layout: nosidebar
title: Rates for Bed and Breakfast Cabins
breadcrumb: B&B Rates
---

      <h1 class="pagetitle">Bed and Breakfast Cabin Rates</h1>

      <!-- C.1 CONTENT -->
      <div class="content">




<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->
<!-- ********************************   START OF AVAILABLE GRID STYLES   ****************************** -->
<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->


<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->
<!-- **                                                                                              ** -->
<!-- **  1. CONTENT GRID (1-COLUMN)                                                                  ** -->
<!-- **                                                                                              ** -->
<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->


        <!-- CONTENT CELL -->
        <a id="anchor-grid-101"></a>
        <div class="corner-content-1col-top"></div>
        <div class="content-1col-nobox">

          <h1 class="dinner">Bed and Breakfast Rates</h1>

      <p>{% include bbdescr.html %}</p>   

      <p>The bed and breakfast rates include a full American breakfast served from 8:00-9:30 and/or a continental breakfast bar from 9:30-10:30 as well as lodging, daily maid service, the use of all Loch Lyme facilities, and daily firewood delivery. </p>

		  <p>Some summer weeks book quickly, especially in late July and early August. Two bedroom cabins fill rapidly for most of July and August. We do keep a wait list in the event of cancellations and always attempt to offer guests their first choice of accommodations. Call to check availability for last minute reservations for summer getaways. (1-800-423-2141) There usually is an open room or cabin (and unlimited swimming in the lake) on a hot July or August day.</p>
		  <p>Our prices for bed and breakfast cabins depend on the number of people staying in the cabin. Children aged 4 and under are free. We also have differing rates for our one-bedroom and two-bedroom cabins.</p>

		         </div>
        <div class="corner-content-1col-bottom"></div>

<!-- ************************************************************************************************** -->
<!-- **   1-06. TABLE                                                                                ** -->
<!-- ************************************************************************************************** -->

        <!-- CONTENT CELL -->
        <a id="anchor-table-1"></a>
        <div class="corner-content-1col-top"></div>
        <div class="content-1col-nobox">
               <h1 class="bed">One Bedroom Cabins</h1>
			   <h3>
         {% include cabinlinks/cherrywood.html %} &bull; 
         {% include cabinlinks/edgewood.html %} &bull; 
         {% include cabinlinks/glenwood.html %} &bull; 
         {% include cabinlinks/knollwood.html %} &bull; 
         {% include cabinlinks/sprucewood.html %} &bull; 
         {% include cabinlinks/wicopywood.html %} </h3>


          <table>
            <tr><th class="top" scope="col">Number of Occupants</th><th class="top" scope="col">Cabin Rate per Night</th><th class="top" scope="col">Cabin Rate per Week</th></tr>
            <tr><th scope="row">Based on 1-3 people &#40;base rate&#41;</th><td>$179</td><td>$1195</td></tr>
		    <tr><th scope="row">For each additional person ages 5-13</th><td>$15</td><td>$85</td></tr>
			<tr><th scope="row">For each additional person ages 14+</th><td>$20</td><td>$125</td></tr>
			<tr><th scope="row">Off Season (no breakfast available)</th><td>$105</td><td></td></tr>
          </table>
          <!-- <p class="caption"><b>B&amp;B Rates 1 Bedroom Cabins 2017</b> </p> -->
        </div>
        <div class="corner-content-1col-bottom"></div>
<!-- CONTENT CELL -->
        <a id="anchor-table-2"></a>
        <div class="corner-content-1col-top"></div>
        <div class="content-1col-nobox">
               <h1 class="twobed">Two Bedroom Cabins</h1>
			   <h3>
         {% include cabinlinks/butternutwood.html %} &bull; 
         {% include cabinlinks/deepwood.html %} &bull; 
         {% include cabinlinks/larchwood.html %} &bull; 
         {% include cabinlinks/maplewood.html %}</h3>


          <table>
             <tr><th class="top" scope="col">Number of Occupants</th><th class="top" scope="col">Cabin Rate per Night</th><th class="top" scope="col">Cabin Rate per Week</th></tr>
            <tr><th scope="row">Based on 2-4 people &#40;base rate&#41;</th><td>$275</td><td>$1775</td></tr>
		    <tr><th scope="row">For each additional person ages 5-13</th><td>$15</td><td>$85</td></tr>
			<tr><th scope="row">For each additional person ages 14+</th><td>$20</td><td>$125</td></tr>
			<tr><th scope="row">Off Season (no breakfast available)</th><td>$160</td><td></td></tr>



          </table>
          <!-- <p class="caption"><b>B&amp;B Rates 2 Bedroom Cabins 2017</b></p> -->
        </div>
        <div class="corner-content-1col-bottom"></div>

        <!-- CONTENT CELL (subcells NOT boxes) -->
        <a id="anchor-table-3"></a>
        <div class="corner-content-1col-top"></div>
        <div class="content-1col-nobox">
          <!-- <h2>Additional Charges</h2> -->
          <!-- Subcell LEFT - - >
          <div class="content-2col-nobox-leftcolumn">
            <table>
              <tr><th class="top" scope="col">Item</th><th class="top" scope="col">Daily</th><th class="top" scope="col">Weekly</th></tr>
             
              
            </table>
          </div> 
          -->
           <!-- Subcell RIGHT -->
          <div class="content-2col-nobox-leftcolumn">
<h5> Other Information </h5>
            <ul>
            <li>The rates above do not include 9% NH Meals & Rentals tax, or gratuities for our staff.</li>
            <li>Adult rates apply to guests ages 13 and up. Children under 4 are not charged in Bed and Breakfast accommodations when sharing a parent's room.</li>
			<li>Additional quotes available on request.</li>
            </ul>

          </div>

        </div>
        <div class="corner-content-1col-bottom"></div>
     </div>

