---
layout: nosidebar
title: Rates for Housekeeping Cabins
breadcrumb: Housekeeping Rates
---

      <h1 class="pagetitle">Housekeeping Cabin Rates</h1>

      <!-- C.1 CONTENT -->
      <div class="content">




<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->
<!-- ********************************   START OF AVAILABLE GRID STYLES   ****************************** -->
<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->


<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->
<!-- **                                                                                              ** -->
<!-- **  1. CONTENT GRID (1-COLUMN)                                                                  ** -->
<!-- **                                                                                              ** -->
<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->


        <!-- CONTENT CELL -->
        <a id="anchor-grid-101"></a>
        <div class="corner-content-1col-top"></div>
        <div class="content-1col-nobox">

        <h1 class="effbed">Housekeeping Cabin Rates</h1>

        <p>{% include hskpdescr.html %} </p>

        <p>The weekly rate for the housekeeping cabins includes lodging, the use of all Loch Lyme facilities, daily firewood delivery and trash collection, and linens. It does not include meals. Fresh linens are delivered on Wednesdays and Saturdays and are available upon request at other times. The number of guests per cabin is listed below. We regret that sleeping bag accommodations are not available.
        </p>
		  <p>Housekeeping guests are invited to enjoy the meals offered in the Loch Lyme dining rooms, the Sunday night lakeside buffet, and the takeout lunch bar. Advance reservations are suggested.</p>
		  <p>The housekeeping units are popular and may be fully booked, for some midsummer weeks, two years in advance. However, our charts change frequently as families arrange summer vacation plans around school schedules, summer camps, or family weddings. We keep a wait list in case of cancellations, and always attempt to offer guests their first choice of accommodations. For last minute reservations, we will rent cabins with kitchens by the night on the bed and breakfast plan if they are available.</p>

		         </div>
        <div class="corner-content-1col-bottom"></div>

<!-- ************************************************************************************************** --> 
<!-- **   1-06. TABLE                                                                                ** -->
<!-- ************************************************************************************************** -->

        <!-- CONTENT CELL -->
        <a id="anchor-table-1"></a>
        <div class="corner-content-1col-top"></div>
        <div class="content-1col-nobox">
               <h1 class="bed">Summer Rates</h1>
			   <h3>Applewood &bull; Balsam &bull; Beechwood &bull; Fernwood &bull; Iron &amp;Basswood &bull; Lakefield &bull; Lakeside<br/> Pine &amp; Pop'lWood &bull; Rockwood &bull; Wildwood </h3>


          <table>
            <tr><th class="top" scope="col">Cabin Name</th><th class="top" scope="col">Guest Limit</th><th class="top" scope="col">Cabin Rate per Night In Season</th><th class="top" scope="col">Cabin Rate per night - Off Season</th><th class="top" scope="col">Cabin Rate per Week</th></tr>

      <tr><th scope="row">{% include cabinlinks/applewood.html %}</th><td>4-5</td><td>$210</td><td>$160</td><td>$1470</td></tr>
			<tr><th scope="row">{% include cabinlinks/balsam.html %}</th><td>6</td><td>$260</td><td>$175</td><td>$1750</td></tr>
			<tr><th scope="row">{% include cabinlinks/beechwood.html %}</th><td>4-5</td><td>$185</td><td>$155</td><td>$1295</td></tr>
			<tr><th scope="row">{% include cabinlinks/fernwood.html %}</th><td>4-5</td><td>$195</td><td>$155</td><td>$1365</td></tr>
			<tr><th scope="row">{% include cabinlinks/ironwood.html %}</th><td>7-8</td><td>$210</td><td>$165</td><td>$1350</td></tr>
			<tr><th scope="row">{% include cabinlinks/lakefield.html %}</th><td>5</td><td>$260</td><td>$175</td><td>$1750</td></tr>
			<tr><th scope="row">{% include cabinlinks/lakeside.html %}</th> <td>5</td><td>$260</td><td>$175</td><td>$1750</td></tr>
			<tr><th scope="row">{% include cabinlinks/pinewood.html %}</th><td>2-3</td><td>$165</td><td>$130</td><td>$1155</td></tr>
			<tr><th scope="row">{% include cabinlinks/rockwood.html %}</th><td>6</td><td>$215</td><td>$165</td><td>$1505</td></tr>
			<tr><th scope="row">{% include cabinlinks/wildwood.html %}</th><td>2-3</td><td>$165</td><td>$130</td><td>$1155</td></tr>

          </table>
        </div>
        <div class="corner-content-1col-bottom"></div>

        <!-- CONTENT CELL (subcells NOT boxes) -->
        <a id="anchor-table-3"></a>
        <div class="corner-content-1col-top"></div>
        <div class="content-1col-nobox">
          <!-- <h2>Additional Charges</h2>
          <!-- Subcell LEFT - - >
          <div class="content-2col-nobox-leftcolumn">
            <table>
              <tr><th class="top" scope="col">Item</th><th class="top" scope="col">Weekly</th></tr>
              <tr><th scope="row">Additional cot accommodations <br/> &bull; (available in some cabins)</th><td>$90.00</td></tr>
              
            </table>
          </div> -->
           <!-- Subcell RIGHT -->
          <div class="content-2col-nobox-leftcolumn">
<h5> Other Information </h5>
            <ul>
            <li>The rates above do not include 9% NH Meals & Rentals tax, or gratuities for our staff.</li>
            </ul>

          </div>

        </div>
        <div class="corner-content-1col-bottom"></div>
     </div>
