<style type="text/css">
    @import url("http://www.google.com/uds/css/gsearch.css");
</style>

<!-- Map Search Control and Stylesheet -->
<script type="text/javascript">
    window._uds_msw_donotrepair = true;
</script>
<script src="http://www.google.com/uds/solutions/mapsearch/gsmapsearch.js?mode=new"
        type="text/javascript"></script>
<style type="text/css">
    @import url("http://www.google.com/uds/solutions/mapsearch/gsmapsearch.css");
</style>

<style type="text/css">
    .gsmsc-mapDiv {
        height : 275px;
    }

    .gsmsc-idleMapDiv {
        height : 275px;
    }

    #mapsearch {
        width : 365px;
        margin: 10px;
        padding: 4px;
    }

    h4.hotspot {
        font-size : 100%;
        font-weight : normal;
        color : rgb(9, 122, 182);
        margin-left : 8px;
        margin-top : 0px;
        margin-bottom : 2px;
        font-style : normal;
        cursor : pointer;
    }

    h4.hotspot:hover {
        color : rgb(237, 92, 11);
        text-decoration : underline;
    }

</style>