    <div class="header">
        <div class="header-top">

            <!-- A.1 SITENAME -->
            <a class="sitelogo" href="index.html" title="Home"></a>
            <div class="sitename">
            </div>

            <!-- A.2 BUTTON NAVIGATION -->
            <div class="navbutton">
                <ul>

                </ul>
            </div>

            <!-- A.3 GLOBAL NAVIGATION - ->
            <div class="navglobal">
                <ul>
                    <li><a href="about/index.html" title="">Contact</a></li>
                    <li><a href="#" title="">Sitemap</a></li>
                    <li><a href="#" title="">Links</a></li>

                </ul>
            </div>
            <!-- end global navigation -->
        </div>

        <!-- A.4 BREADCRUMB and SEARCHFORM -->
        <div class="header-bottom">
            
            <!-- Breadcrumb -->
            <ul>
                <li class="nobullet">You are here:&nbsp;</li>
                <!-- <li><a href="#">Home</a></li> -->
                <li class="nobullet"> {% include breadcrumbs.html %} </li>
            </ul>

        </div>

        <!-- Navbar -->
        {% include navbar.html %}

    </div>