<!DOCTYPE html>
<html lang='en'>

<head>
    <!-- <base href="http://richb-hanover.github.io/lochlymelodge/"> -->
    <meta name="verify-v1" content="yhQ1Lr/H1QwpDXzB6XCrqHqdqSMKNCEIUo225s7A4m4=" />
    <script type="text/javascript" src="/js/prototype.js"></script>
    <script type="text/javascript" src="/js/scriptaculous.js?load=effects,builder"></script>
    <script type="text/javascript" src="/js/lightbox.js"></script>
    <script type="text/javascript" src="/js/swfobject.js"></script>

    {% include meta.html %}
