

<!-- Global IE fix to avoid layout crash when single word size wider than column width -->
<!-- Following line MUST remain as a comment to have the proper effect -->
<!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->

<body>
<!-- CONTAINER FOR ENTIRE PAGE -->
<div class="container">

    <!-- A. HEADER -->
    <div class="corner-page-top"></div>
    {% include header.html %}

    <div class="corner-page-bottom"></div>


   <div class="corner-page-top"></div>

    <!-- C. MAIN SECTION -->
    <div class="main">
        {{ content }}
    </div>

    <!-- ************************************************************************************************** -->
    <!-- ************************************************************************************************** -->
    <!-- *********************************   END OF AVAILABLE GRID STYLES   ******************************* -->
    <!-- ************************************************************************************************** -->
    <!-- ************************************************************************************************** -->

{% include footer.html %}
</div>

{% include ga.html %}

</body>
</html>
