
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/lightbox.css" type="text/css" media="screen" />
    <title>{{ page.title }}</title>
</head>

<!-- Global IE fix to avoid layout crash when single word size wider than column width -->
<!-- Following line MUST remain as a comment to have the proper effect -->
<!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->

<body>
<!-- CONTAINER FOR ENTIRE PAGE -->
<div class="container">

    <!-- A. HEADER -->
    <div class="corner-page-top"></div>
    <div class="header">
        <div class="header-top">

            <!-- A.1 SITENAME -->
            <a class="sitelogo" href="index.html" title="Home"></a>
            <div class="sitename">
            </div>

            <!-- A.2 BUTTON NAVIGATION -->
            <div class="navbutton">
                <ul>

                </ul>
            </div>

            <!-- A.3 GLOBAL NAVIGATION -->
            <div class="navglobal">
                <ul>
                    <li><a href="about/index.html" title="">Contact</a></li>
                    <li><a href="#" title="">Sitemap</a></li>
                    <li><a href="#" title="">Links</a></li>

                </ul>
            </div>
        </div>

        <!-- A.4 BREADCRUMB and SEARCHFORM -->
        <div class="header-bottom">

            <!-- Breadcrumb -->
            <ul>
                <li class="nobullet">You are here:&nbsp;</li>
                <li><a href="#">Home</a></li>

            </ul>
            <p></p>


            <!-- Live Search -->
        </div>
        <!-- Search form -->
        <div class="searchform">
            <script type="text/javascript">
                (function() {
                    var cx = '010500323059602989396:e86jdifxb8y';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                            '//www.google.com/cse/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
            </script>

            <gcse:search></gcse:search>
        </div>
    </div>
    <div class="corner-page-bottom"></div>


    {% include navbar.html %}

    <!-- C. MAIN SECTION -->
    <div class="main">
        {{ content }}
    </div>

    <!-- ************************************************************************************************** -->
    <!-- ************************************************************************************************** -->
    <!-- *********************************   END OF AVAILABLE GRID STYLES   ******************************* -->
    <!-- ************************************************************************************************** -->
    <!-- ************************************************************************************************** -->

{% include breadcrumbs.html %}

{% include footer.html %}
</div>

{% include ga.html %}

</body>
</html>
