{% include navbarcss.html %}

<ul class="top-level-menu">
    <li><a href="/index.html">Home</a></li>
    <li>
        <a href="/cabins/index.html">Cabins</a>
            <ul class="second-level-menu">
                <li><a href="/cabins/index.html">Cabins at a Glance</a></li>
                <li><a href="/cabins/effcabins.html">Housekeeping Cabins</a></li>
                <li><a href="/cabins/bbcabins.html">B&amp;B Cabins</a></li>
                <li><a href="/cabins/rates_house.html">Rates &mdash; Housekeeping</a></li>
                <li><a href="/cabins/ratesbb.html">Rates &mdash; B&amp;B</a></li>
                <li><a href="/cabins/map_of_cabins.html">Cabin Map</a></li>
            </ul>
    </li>
    <li>
        <a href="/about/facilities.html">Facilities</a>
        <ul class="second-level-menu">
            <li><a href="/music_series">Summer Music Series</a></li>
            <li><a href="/about/yoga.html">Yoga Workshop</a></li>
            <li><a href="/about/facilities.html">Facilities at the Lodge</a></li>
            <li><a href="/about/activities.html">Activities</a></li>
            <li><a href="/cabins/pet_friendly_hotel.html">Pet Friendly</a></li>
            <li><a href="/cabins/greenvacations.html">Green Vacations</a></li>
            <li><a href="/about/directions.html">Nearby Destinations</a></li>
        </ul>
    </li>
    <li><a href="/restaurant/index.html">Restaurant</a>
        <ul class="second-level-menu">
            <li><a href="./index.html">Restaurant Information</a></li>
            <li><a href="./menus.html">Sample Menus</a></li>
        </ul>
    </li>
    <li><a href="/weddings/index.html">Weddings</a></li>
    <li><a href="https://reserve3.resnexus.com/resnexus/Reservations/Lodging/95DCDF10-84DF-4B1F-BB16-796266A6BA67" target="_blank">Book Now</a></li>
    <li>
        <a href="/about/index.html">Contact</a>
        <ul class="second-level-menu">
            <li><a href="/about/index.html">About Loch Lyme Lodge</a></li>
            <li><a href="/about/directions.html">Directions</a></li>
            <li><a href="/about/news.html">Latest News</a></li>
            <li><a href="/about/employment.html">Employment</a></li>
        </ul>
    </li>
    
    <div style="display:inline;">
        <script>
          (function() {
            var cx = '003665979835614801929:nykoiky64qc';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <gcse:searchbox-only resultsUrl="/about/searchresults.html"></gcse:searchbox-only>
        </div>
</ul>


