<!-- B. NAVIGATION BAR -->
<div class="corner-page-top"></div>
<div class="navbar">

    <!-- Navigation item -->
    <ul>
        <li><a href="/index.html">Home</a></li>
    </ul>


    <!-- Navigation item -->
    <ul>
        <li><a href="#">Housekeeping Cabins<!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul>
                <li><a href="/cabins/effataglance.html">Cabins at a Glance</a></li>
                <li><a href="/cabins/effcabins.html#applewood">Applewood &bull; Sleeps  1-5</a></li>
                <li><a href="/cabins/effcabins.html#balsam">Balsam &bull; 1-6</a></li>
                <li><a href="/cabins/effcabins.html#beechwood">Beechwood &bull; 1-5</a></li>
                <li><a href="/cabins/effcabins.html#fernwood">Fernwood &bull; 1-5</a></li>
                <li><a href="/cabins/effcabins.html#iron">Iron &amp; Bass &bull; 1-8</a></li>
                <li><a href="/cabins/effcabins.html#lakefield">Lakefield &bull; 1-6</a></li>
                <li><a href="/cabins/effcabins.html#lakeside">Lakeside &bull; 1-5</a></li>
                <li><a href="/cabins/effcabins.html#pine">Pine &amp; Pop'l &bull; 1-3</a></li>
                <li><a href="/cabins/effcabins.html#rockwood">Rockwood &bull; 1-6</a></li>
                <li><a href="/cabins/effcabins.html#wildwood">Wildwood &bull; 1-3</a></li>
            </ul>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
    </ul>
    <!-- Navigation item -->
    <ul>
        <li><a href="#">B&amp;B Cabins<!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul>
                <li><a href="/cabins/bbataglance.html">Cabins at a Glance</a></li>
                <li><a href="/cabins/bbcabins.html#butternutwood">Butternutwood &bull; 1-5</a></li>
                <li><a href="/cabins/bbcabins.html#cherrywood">Cherrywood &bull; 1-3</a></li>
                <li><a href="/cabins/bbcabins.html#deep">Deep &amp; Dellwood &bull; 1-4</a></li>
                <li><a href="/cabins/bbcabins.html#edgewood">Edgewood &bull; 1-3</a></li>
                <li><a href="/cabins/bbcabins.html#glenwood">Glenwood &bull; 1-3</a></li>
                <li><a href="/cabins/bbcabins.html#knollwood">Knollwood &bull; 1-3</a></li>
                <li><a href="/cabins/bbcabins.html#larch">Larch &amp; Laurel &bull; 1-6</a></li>
                <li><a href="/cabins/bbcabins.html#maplewood">Maplewood &bull; 1-5</a></li>
                <li><a href="/cabins/bbcabins.html#sprucewood">Sprucewood &bull; 1-4</a></li>
                <li><a href="/cabins/bbcabins.html#wicopywood">Wicopywood &bull; 1-3</a></li>

            </ul>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
    </ul>
    <!-- Navigation item -->
    <ul>
        <li><a href="/cabins/map_of_cabins.html">Cabin Map</a></li>
    </ul>
    <!-- Navigation item -->
    <ul>
        <li><a href="#">Rates<!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul>
                <li><a href="/cabins/ratesbb.html">Bed and Breakfast Cabins</a></li>
                <li><a href="/cabins/rates_house.html">Housekeeping Only Cabins</a></li>
            </ul>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
    </ul>
    <!-- Navigation item -->
    <ul>
        <li><a href="/restaurant/restaurant.html">Restaurant</a></li>
    </ul>
    <!-- Navigation item -->
    <ul>
        <li><a href="/weddings/weddings.html">Weddings</a></li>
    </ul>
    <!-- Navigation item -->
    <ul>
        <li><a href="/cabins/bookingfaq.html">Booking</a></li>
    </ul>
    <!-- Navigation item -->
    <ul>
        <li><a href="/about/directions.html">Directions</a></li>
    </ul>

    <!-- Navigation item -->
    <ul>
        <li><a href="/cabins/pet_friendly_hotel.html">Pets</a></li>
    </ul>

</div>
