---
layout: default
title: Directions to Loch Lyme Lodge
breadcrumb: Directions
---

{% include directionscss.html %}


</head>

<!-- Global IE fix to avoid layout crash when single word size wider than column width -->
<!-- Following line MUST remain as a comment to have the proper effect -->
<!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->

<body onload="GSearch.setOnLoadCallback(LoadMapSearchControl)">

{% include directionsjs.html %}

      <h1 class="pagetitle">Directions and Points of Interest</h1>

      <!-- C.1 CONTENT -->
      <div class="content">



<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->
<!-- ********************************   START OF AVAILABLE GRID STYLES   ****************************** -->
<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->


<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->
<!-- **                                                                                              ** -->
<!-- **  1. CONTENT GRID (1-COLUMN)                                                                  ** -->
<!-- **                                                                                              ** -->
<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->



<!-- ************************************************************************************************** -->
<!-- **   1-04. IMAGE                                                                                ** -->
<!-- ************************************************************************************************** -->


        <!-- CONTENT CELL -->
        <a id="anchor-image-0"></a>
        <div class="corner-content-1col-top"></div>
        <div class="content-1col-nobox">



          <h1 class="compass">Regional Map of New Hampshire</h1>
		  <h2>We are here</h2>
<p><img src="/img/map.jpg" alt="New Hampshire Regions Map" title="New Hampshire Map" /></p>

       </div>


        <div class="corner-content-1col-bottom"></div>

        <!-- CONTENT CELL -->
        <a id="anchor-image-1"></a>
        <div class="corner-content-1col-top"></div>
        <div class="content-1col-nobox">



          <h1 class="compass">Interactive Directions</h1>
		  <h2>Click on Marker to Get Directions</h2>

			<div id="mapsearch">
					<span style="color:#676767;font-size:11px;margin:10px;padding:4px;">Loading...</span>
			</div>
<!-- ++End Map Search Control Wizard Generated Code++ -->

       </div>


        <div class="corner-content-1col-bottom"></div>




		 <!-- CONTENT CELL -->
        <a id="anchor-image-2"></a>
        <div class="corner-content-1col-top"></div>
        <div class="content-1col-nobox">
          <h1 class="compass">Travel Directions to Loch Lyme Lodge</h1>

		  <p>Driving Times are approximately:</p>
		<ul>
        <li>2.5 Hours from Boston</li>
		<li>3.5 Hours from Hartford</li>
		<li>5.5 Hours from New York City</li>
		<li>4 Hours from Montreal</li>
		<li>and only 24 Hours from Tulsa (it really is you know!)</li>
      </ul>


<h3>From I-89 Driving North</h3>

<p>Take exit 18 at Lebanon, NH to Route 120 North. After 4.5 Miles you will be in front of the Co-Op food store in Hanover. (This is a great place to pick up supplies - our customer number is 29702.) Stay to the right at the intersection, continuing on 120 North. At the third and last light after the Co-Op turn right at the yield sign on Route 10 North. Continue 10 miles to Lyme. Stay on Route 10 North past H. S. Tarm and the Lyme Country Store, bearing left by cemetery. On the right note the horse sheds, the longest in the US, and the town crypt and jail (no longer used). Loch Lyme is one mile north of the Lyme Congregational church on the right at the bottom of the hill. Please observe town speed limits.</p>

<h3>From 1-91 Driving North or South</h3>

<p>Take exit 14 in Thetford, Vermont to Route 113 East. Drive 1.3 miles down the long hill to the intersection. Turn right onto Route 5 and then make and immediate left back onto 113. Don't go past the Mobil station or you've gone too far. Cross the bridge and drive 1.6 miles until you reach the intersection with Route 10 at the town green. Stay on Route 10 North past H. S. Tarm and the Lyme Country Store, bearing left by cemetery. On the right note the horse sheds, the longest in the US, and the town crypt and jail (no longer used). Loch Lyme is one mile north of the Lyme Congregational church on the right at the bottom of the hill. Please observe town speed limits.</p>

<h3>From Fairlee, VT (Route 5)</h3>

<p>Cross the bridge to Orford, NH. The row of big white houses you'll see straight ahead is on the national historic register. Turn right onto Route 10 South. Loch Lyme is 6.2 miles South on the left. Please observe speed limits.</p>

<!-- ++End Map Search Control Wizard Generated Code++ -->

       </div>


        <div class="corner-content-1col-bottom"></div>

      </div>




<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->
<!-- **                                                                                              ** -->
<!-- **  4. SUBCONTENT GRID                                                                          ** -->
<!-- **                                                                                              ** -->
<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->


      <!-- C.2 SUBCONTENT -->
      <a id="anchor-grid-401"></a>
      <div class="subcontent">




<!-- ************************************************************************************************** -->
<!-- **   4-01A. SIDE MENU #1                                                                        ** -->
<!-- ************************************************************************************************** -->

        <!-- SUBCONTENT CELL -->
        <a id="anchor-sidemenu-4"></a>
        <div class="corner-subcontent-top"></div>
        <div class="subcontent-box">
          <h1 class="hotspot">Hotspots</h1>
          <div class="sidemenu1">
            <ul>
			  <li><a id="hs01" href="#">Drive-In Movie Theater</a></li>
			  <li><a id="hs02" href="#">Quechee Gorge</a></li>
			<li><a id="hs03" href="#">Co-Op Food Store</a></li>
			<li><a id="hs04" href="#">Montshire Museum of Science</a></li>


            </ul>
          </div>
        </div>
        <div class="corner-subcontent-bottom"></div>

      </div>
