        <h5>Daily Offerings</h5>
        <ul>
        <li>6 oz. McNamara Farm Burger on Ciabatta</li>
        <li>Grilled Chicken on Ciabatta</li>
        <li>Portobello Sandwich on Ciabatta</li>
        <li>House-made Vegetarian Patty on Ciabatta</li>
        </ul>

        <h5>For Kids</h5>
        <ul>
        <li>Pasta of the day</li>
        <li>All-White Meat Chicken Fingers </li>
        <li>All-Beef Hot Dogs (2)</li>
        </ul>

        <h5>Desserts</h5>
        <ul>
        <li>Daily specials - ask your server for choices</li>
        <li>Ice Cream and Sorbet </li>
        </ul>

        
        <h5>Beverages</h5>
        <ul>
        <li>A variety of non-alcoholic drinks are available</li>
        <li>BYOB adult beverages</li>
        </ul>
        