       <h5>New Orleans Night Specials</h5>

       <ul>
       <li>Grilled Catfish with Andouille Crust</li> 
       <li>Shrimp and Grits</li>
       <li>Jambalaya Risotto Cakes with Chicken, Ham & Andouille with a Spicy Tomato Cream Sauce</li>
       <li>Hot Prime Rib Sandwich with Mushroom Gravy on Ciabatta</li>
       <li><i>each includes bread and two sides</i></li>
       </ul>

       <h5>Side Dishes</h5>
       <ul>
       <li>Asparagus</li>
       <li>Roasted Parmesan Broccoli</li>
       </ul>

        <h5>Starters</h5>
        <ul>
        <li>Soup of the Day&mdash;White Bean and Ham</li>
        <li>Arugula Salad with Strawberries, Blueberries & Feta</li>
        <li>Romaine Salad with Roasted Tomatoes, Bacon, Egg & Avocado</li>
        </ul>
