       <h5>Build your own Pizza Night</h5>

       <ul>
       <li>Build your own pizza, and choose from:
        <ul style="font-size: 9px;">
        <li>Sauces: Red sauce, Oil and garlic, Alfredo, Pesto</li>
        <li>Toppings: Pepperoni, Ham, Ground Beef, Chicken</li>
        <li>Vegetables: Tomatoes, Onion, Roasted Pepper, Artichokes, Summer squash, Spinach, Arugula</li>
        </ul>
       </li> 
       <li>Linguine with Shrimp Scampi</li>
       <li>Stuffed Chicken Breast, Asparagus, Roasted Pepper and Cheese</li>
       <li>New Orleans Style Roast Beef Sandwich</li>
       <li>Risotto Cakes with Roasted Tomatoes on Arugula (Vegetarian)</li>
       <li><i>each includes bread and two sides</i></li>
       </ul>

       <h5>Side Dishes</h5>
       <ul>
       <li>Baked Potato</li>
       <li>Risotto Cake</li>
       <li>Broccoli</li>
       <li>Saut&eacute;ed Squash Medley</li>
       <li>Side of Greens, House Dressing</li>
       </ul>
